.topnav {
	font-family: Corbel; 
	text-align: center;
	font-size: 30px;
color: rgb (255,255,255); }
	
	
/*links */
a:link {
    color: white;
	text-decoration: none;
}

a:visited {
    color: white;
	text-decoration: none;
}

#menuelink {
	color: white;
	text-decoration: underline;
    text-decoration-color: white;
}


body {
	background-image: url("background.jpg"); 
	background-size: 100%;
	background-repeat: no-repeat; 
}

img { width: 1124px;
	  height: 610px;
	  margin-top: 30px;
	  margin-bottom: 20px;
	  margin-right: 57px;
	  float: right;}